<div class="main">
        <storeHeader></storeHeader>
        <div class="content">
            <div class="permsg">
                <div class="col-sm-12">
                    <label>姓名:</label>
                    <input type="text" placeholder="姓名" [(ngModel)]="name">
                    <label>备注信息:</label>
                    <input type="text" placeholder="备注信息" [(ngModel)]="note">
                    <input (click)="submit()" class="btn" type="button" value="提交">
                </div>
            </div>
        </div>
        <storeFooter></storeFooter>
     </div>