<div class="main">
        <storeHeader></storeHeader>
        <div class="content">
            <div class="permsg">
                <div class="col-md-6 col-xs-12">
                    <label>姓名:</label>
                    <input type="text" placeholder="姓名" [(ngModel)]="name">
                    <label>备注信息:</label>
                    <textarea placeholder="备注信息" [(ngModel)]="note"></textarea>
                </div>
            </div>
            <button (click)="submit()">提交</button>
        </div>
        <storeFooter></storeFooter>
     </div>