
<div class="main">
    <storeHeader></storeHeader>
    <div class="content">
        <div class="operation">
            <button type="button" nz-button (click)="exportFile()" [nzLoading]="isDownLoading" >
                <i class="anticon anticon-upload"></i>
                <span>导出</span>
            </button>
            <button type="button" nz-button (click)="importFile(evel)">
                <i class="anticon anticon-download"></i>
                <span>导入</span>
            </button>    
            <!-- <button (click)="addRow()">添加</button> -->
           <button nz-button nzType="primary" (click)="addRow()">
                <span>添加</span>
           </button>
           
        </div>
        <div class="tab">
            <nz-table
            #nzTable
            nzSize="small"
            [nzData]="dataSet"
            nzShowSizeChanger
            [nzFrontPagination]="false"
            [(nzPageSize)]="pageSize"
            [(nzPageIndex)]="pageIndex"
            [nzTotal]="total"
            (nzPageIndexChange)="indexChange()"
            (nzPageSizeChange)="sizeChange()"
            nzShowQuickJumper 
            [nzScroll]="{x:'800px'}">
                <thead>
                    <tr>
                        <th nzWidth="100px" nzLeft="0px" class="money">支付类型</th>
                        <th nzWidth="100px" nzLeft="100px"class="money">金额</th>
                        <th >支付方式</th>
                        <th>支付时间</th>
                        <th>备注</th>
                        <th nzCustomFilter>消费者
                            <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown>
                                <i nz-icon type="smile-o" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
                                <div class="custom-filter-dropdown">
                                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue">
                                    <button nz-button [nzType]="'primary'" (click)="search()">Search</button>
                                </div>
                            </nz-dropdown>
                        </th>
                        <th  nzWidth="80px" nzRight="0px">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of nzTable.data">
                        
                        
                        <!--    支付类型 -->
                        <td nzLeft="0px">{{data.obj2}}</td>
                        <td nzLeft="100px">{{data.money}}</td>
                        <!-- 支付方式 -->
                        <td>{{data.obj3}}</td>
                        <td>{{data.time}}</td>
                        
                        <td>
                        <div class="editable-cell" >
                        <div class="editable-cell-value-wrap" >
                            {{data.note}}
                        </div>
                        </div>
                    </td>
                    <td >{{data.obj}}</td>
                    <td nzRight="0px">
                        <nz-popconfirm [nzTitle]="'Sure to delete?'" (nzOnConfirm)="deleteRow(data.id)">
                        <a nz-popconfirm>Delete</a>
                        </nz-popconfirm>
                    </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <div class="add" *ngIf="add" >
            <div class="msg">
                <!-- <div class="msg-group">
                    <label>消费者：</label>
                    <input type="text" placeholder="name" [(ngModel)]="name">
                </div>   -->
                <div class="msg-group">
                    <label>分类：</label>
                    <nz-form-item class="classification">
                        <nz-form-control>
                          <nz-select nzAllowClear nzShowSearch style="width:100px" [(ngModel)]="selectedDicclass" (ngModelChange)="provinceChange($event)">
                            <nz-option *ngFor="let dicclass of dicclass" [nzLabel]="dicclass" [nzValue]="dicclass">
                            </nz-option>
                          </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="classification">
                        <nz-form-control nzXs="24" nzSm="12" nzMd="10" (click)="change()"> 
                          <nz-select nzAllowClear nzShowSearch style="width:100px" [(ngModel)]="selectedName">
                            <nz-option *ngFor="let v of dicValue" [nzLabel]="v.name"
                                       [nzValue]="v.id"></nz-option>
                          </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-input-number [(ngModel)]="demoValue" [nzMin]="0.01"  [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar">
                    </nz-input-number>
                    
                    <label>详情：</label>
                    <input nz-input placeholder="消费详情" [(ngModel)]="xq" nzSize="default">
                    <br>
                    <label>支付方式：</label>
                    <nz-form-item class="classification" style="margin-right:190px;">
                        <nz-form-control>
                            <nz-select nzAllowClear nzShowSearch style="width:150px" [(ngModel)]="selectedPayway" (ngModelChange)="provinceChange($event)">
                            <nz-option *ngFor="let payway of payway" [nzLabel]="payway.name" [nzValue]="payway.id">
                            </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                      
                      <!-- <nz-form-item class="classification">
                        <nz-form-control nzXs="24" nzSm="12" nzMd="10" (click)="changeId()"> 
                          <nz-select nzAllowClear nzShowSearch style="width:100px" >
                            <nz-option *ngFor="let id of id" [nzLabel]="id"
                                       [nzValue]="id"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item> -->
                </div>
                <button nz-button [nzSize]="size" nzType="danger" (click)="cancel()" style="width: 80px;
                margin-right: 20px;">取消</button>
                <button nz-button [nzSize]="size" nzType="primary" (click)="submit()" style="width: 80px;">提交</button>
                
            </div>
        </div>
    </div>
    <storeFooter></storeFooter>
 </div>

 