
<div class="main">
    <storeHeader></storeHeader>
    <div class="content">
        <div class="operation">
            <button (click)="addRow()">添加</button>
        </div>
        <div class="tab">
            <nz-table
                #editRowTable
                nzBordered
                [nzData]="dataSet">
                <thead>
                    <tr>
                        <th>消费者</th>
                        <th>支付方式</th>
                        <th>支付类型</th>
                        <th>支付时间</th>
                        <th>金额</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of editRowTable.data">
                        <td>{{data.obj}}</td>
                        <td>{{data.obj3}}</td>
                        <td>{{data.obj2}}</td>
                        <td>{{data.time}}</td>
                        <td>{{data.money}}</td>
                        <td>
                        <div class="editable-cell">
                        <div class="editable-cell-text-wrapper">
                            <ng-container >
                            {{data.note}}
                            <i nz-icon type="edit" class="editable-cell-icon" (click)="startEdit(data.id)"></i>
                            </ng-container>
                            <ng-container >
                            <!-- <input type="text" nz-input [(ngModel)]="editCache[data.id].note"> -->
                            <i nz-icon type="check editable-cell-icon-check" (click)="finishEdit(data.id)"></i>
                            </ng-container>
                        </div>
                        </div>
                    </td>
                    
                    <td>
                        <nz-popconfirm [nzTitle]="'Sure to delete?'" (nzOnConfirm)="deleteRow(data.id)">
                        <a nz-popconfirm>Delete</a>
                        </nz-popconfirm>
                    </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <div class="add" *ngIf="add" >
            <div class="msg">
                <!-- <div class="msg-group">
                    <label>消费者：</label>
                    <input type="text" placeholder="name" [(ngModel)]="name">
                </div>   -->
                <div class="msg-group">
                    <label>分类：</label>
                    <nz-select style="width: 120px;" [(ngModel)]="selectedDicclass" (ngModelChange)="provinceChange($event)">
                        <nz-option *ngFor="let p of dicclass" [nzValue]="p" [nzLabel]="p"></nz-option>
                      </nz-select>
                      <nz-select style="width:120px;" [(ngModel)]="selectedName">
                        <nz-option *ngFor="let c of obj[selectedDicclass]" [nzValue]="c" [nzLabel]="c"></nz-option>
                      </nz-select>
                </div>
                <button (click)="cancel()" class="btn" style="background:rgb(230, 152, 121)">取消</button> 
                <button (click)="submit()" class="btn" style="background:rgb(71, 214, 195)">提交</button>
            </div>
        </div>
    </div>
    <storeFooter></storeFooter>
 </div>