.main {
  margin: 0;
  background:rgb(245, 220, 235);
  height: 100%;
}

.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 25px 0;
    z-index: 20;
}
.operation{
    width: 100%;
    height: 40px;
    margin: 10px 0;
}
.operation button{
    margin: 0 5px;
    float: right;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #CFF5CF;
    color: darkgray;
    outline:none;
}
.add{
    width: 400px;
    height: 460px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: antiquewhite;
    opacity: 1;
    z-index: 999;
    text-align: center;
  }
  .msg{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 200px;
  }
  .msg-group{
      margin-bottom: 15px;
  }
  .msg-group>label{
    line-height: 40px;
  }
  .msg input{
      border:1px solid #eee;
      outline: none;
      padding-left:5px;
      width: 310px;
  }
  .btn{
    width: 40%;
    margin-top: 30px;
    margin:0  10px;
    border-radius: 5px;
    border: 1px solie #eee;
    border: 1px solid #eee;
    height: 40px;
    color: aliceblue;
    outline: none;
  }
  ::nz-deep .ant-table-fixed-header .ant-table-scroll .ant-table-header {
    overflow: scroll;
    padding-bottom:0px;
    margin-bottom: -20px;
    opacity: .9999;
}
  .classification{
      width: 100px;
      display: inline-block;
      margin-right: 10px;
  }
  @media (min-width: 320px) and (max-width:480px){
      table th,tr{
        font-size: 10px;
      }
    .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 25px 0;
        z-index: 20;
        margin-bottom: 25px;
    }
    .tab{
        width: 100%;
    }
    .money{
        width:80px;
    }
}
nz-input-number {
    margin-right: 8px;
  }