<div class="main">
    <storeHeader></storeHeader>
    <div class="content">
        <div class="members">
            <input type="text" placeholder="请输入用户名" class="box" [(ngModel)]="username">
            <input type="button" value="添加" class="increase" (click)="add()" >
        </div>
        <nz-list
            class="demo-loadmore-list"
            [nzDataSource]="list"
            [nzItemLayout]="'horizontal'"
            [nzLoading]="initLoading"
            [nzRenderItem]="item"
            [nzLoadMore]="loadMore">
            <ng-template #item let-item>
                <nz-list-item>
                    <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
                        <nz-list-item-meta
                            [nzTitle]="nzTitle"
                            nzAvatar={{portrait}}{{item.picture}}
                            nzDescription="{{item.phone}}">
                            <ng-template #nzTitle>
                            <a>{{item.fullname}}</a>
                                <button nz-button nzType="danger" class="delete" (click)="delete(item.id)" >删除用户</button>
                            </ng-template>
                        </nz-list-item-meta>
                    </nz-skeleton>
                </nz-list-item>
            </ng-template>
        </nz-list>
    </div>
    <storeFooter></storeFooter>
 </div>