<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="login">
    <div class="title">
      <h1 class="lg-title">
          Built for developers
      </h1>
      <p class="sm-title">
          GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 31 million developers.
      </p>
    </div> 
    <div class="login-tab">
        <form>
            <dl class="form-group"> 
              <dt class="input-label">
                  <label class="form-label" for="username">UserName</label>
              </dt>
              <dd>
                  <input type="text" class="form-control" id="username" formControlName="username" placeholder="Pick a username"/>
              </dd>
              
              <dt class="input-label">
                  <label class="form-label">Password</label>
              </dt>
              <dd>
                  <input type="password" class="form-control" formControlName="pass1" placeholder="Create a password"/>
              </dd><dt class="input-label" style="display:none">
                  <label class="form-label">Email</label>
              </dt>
              <dd  style="display:none">
                  <input type="text" class="form-control" placeholder="you@example.com">
              </dd>

              <dt class="input-label" style="display:none">
                <label class="form-label">Email</label>
              </dt>
              <dd  style="display:none">
                <input type="text" class="form-control" placeholder="you@example.com">
              </dd>

            </dl>
            <div style="text-align:center" class="form-group">
              <button class="sign-up btn-warning"> Sign Up </button>
            </div>
        </form>
    </div> 
 </div>