
.login{
    background: url(../../assets/simple-codelines.svg),#2b3137;
    background-position: center 10%;
    background-size: cover;
    color: hsla(0,0%,100%,.6);
    margin:0 auto;
    margin-top:-45px;
    width: 1500px;
    height: 880px;
    position: absolute;
}
.login .title{
    margin-left:180px;
}
.login .title .lg-title{
    width:350px;
    height:150px;
    padding-top:129px;
}
.login .title .lg-title {
    color: #fff;
    font-size: 64px!important;
}
.login .title .sm-title{
    font-size: 21px!important;
    font-weight: 400!important;
    width:550px;
    padding-top: 170px;
}
.login .login-tab{
    width: 360px;
    height: 438px;
    background: #FAFBFC;
    border-radius: 2px;
    position: relative;
    left: 880px;
    top: -45%;
    display: flex;

}
.form-group{
    margin: 15px 0;
    width: 360px;
    height: 25%;
}
.form-group dt {
    margin: 0 0 6px;
}
.form-label {
    display: block;
    font-size: 14px;
    font-weight: inherit;
    margin-bottom: 5px;
    text-align: left;
    color:#586069;
    padding-top:20px;
    padding-left:30px;
    width:100%;
}
.form-control {
    border-radius: 5px;
    font-size: 16px;
    min-height: 22px;
    padding: 10px;
    width: 85%;
    margin-top:4px;
    margin-left:20px;
    border:0.5px solid #D1D5DA;
}
.sign-up{
    width: 340px;
    height: 60px;
    background: #28A745;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 230px;
}
::-moz-placeholder { color: #A2A4A6; }
::-webkit-input-placeholder { color:#A2A4A6; }
:-ms-input-placeholder { color:#A2A4A6; }
@media screen and (max-width: 798px) {
    .login{
        background: url(../../assets/simple-codelines.svg),#2b3137;
        background-position: center 10%;
        background-size: cover;
        color: hsla(0,0%,100%,.6);
        margin: 0 auto;
        margin-top: -45px;
        width: 1500px;
        height: 205rem;
    }
    .login .title{
        text-align: center;
    }
    .login .title .lg-title {
        color: #fff;
        font-size: 133px!important;
        text-align: center;
        width: 200px;
        height: 500px;
        margin-left: 200px;
    }
    .login .title .sm-title{
        display: none;
    }
    .login .login-tab{
        width: 1201px;
        height: 1000px;
        background: #FAFBFC;
        border-radius: 2px;
        position: relative;
        left: 105px;
        text-align: center;
        top: 22%;
        display: flex;
    
    }
    .form-group{
        margin: 15px 0;
        width: 360px;
        height: 25%;
    }
    .form-group dt {
        margin: 0 0 6px;
    }
    .form-label {
        display: block;
        font-size: 70px;
        font-weight: 300;
        margin-bottom: 5px;
        text-align: center;
        color: #586069;
        padding-top: 60px;
        padding-left: 460px;
        width: 100%;
    }
    .form-control {
        border-radius: 5px;
        font-size: 16px;
        min-height: 110px;
        padding: 10px;
        width: 600px;
        margin-top: 36px;
        margin-left: 300px;
        border: 0.5px solid #D1D5DA;
        text-align: center;
        font-size: 40px;
    }
    .sign-up{
        width: 600px;
        height: 110px;
        background: #28A745;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 480px;
        margin-left: 300px;
        font-size: 40px;
     }
}



