
       <div class="login">
          <div class="title">
            <h1 class="lg-title">
                Built for developers
            </h1>
            <p class="sm-title">
                GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 31 million developers.
            </p>
          </div> 
          <div class="login-tab">
              <form>
                  <dl class="form-group"> 
                    <dt class="input-label">
                        <label class="form-label">UserName</label>
                    </dt>
                    <dd>
                        <input type="text" class="form-control" placeholder="Pick a username">
                    </dd>
                    <dt class="input-label">
                        <label class="form-label">Email</label>
                    </dt>
                    <dd>
                        <input type="text" class="form-control" placeholder="you@example.com">
                    </dd>
                    <dt class="input-label">
                        <label class="form-label">Password</label>
                    </dt>
                    <dd>
                        <input type="text" class="form-control" placeholder="Create a password">
                    </dd>
                    <p class="form-control-note">Make sure it's more than 15 characters, or at least 8 characters, including a number, and a lowercase letter.</p>
                  </dl>
                  <div style="width:135px"></div>
                    <button class="sign-up">Sign Up for GitHub</button>
                    <p class="form-control-note" >By clicking “Sign up for GitHub”, you agree to our terms of service and privacy statement. We’ll occasionally send you account related emails.</p>
                  </div>
                </div>
              </form>
          </div> 
       </div>