
.login{
    background: url(../../assets/simple-codelines.svg),#2b3137;
    background-position: center 10%;
    background-size: cover;
    color: hsla(0,0%,100%,.6);
    margin:0 auto;
    margin-top:-45px;
    width: 1500px;
    height: 880px;
}
.login .title{
    margin-left:180px;
}
.login .title .lg-title{
    width:350px;
    height:150px;
    padding-top:129px;
}
.login .title .lg-title {
    color: #fff;
    font-size: 64px!important;
}
.login .title .sm-title{
    font-size: 21px!important;
    font-weight: 400!important;
    width:550px;
    padding-top: 40px;
}
.login .login-tab{
    width: 360px;
    height:46%;
    background: #FAFBFC;
    border-radius: 2px;
    position: relative;
    left: 880px;
    top: -400px;

}
.form-group{
    margin:15px 0;
    width:360px;
    height:80%;
}
.form-group dt {
    margin: 0 0 6px;
}
.form-label {
    display: block;
    font-size: 14px;
    font-weight: inherit;
    margin-bottom: 5px;
    text-align: left;
    color:#586069;
    padding-top:20px;
    padding-left:30px;
    width:100%;
}
.form-control {
    border-radius: 5px;
    font-size: 16px;
    min-height: 22px;
    padding: 10px;
    width: 85%;
    margin-top:4px;
    margin-left:-20px;
    border:0.5px solid #D1D5DA;
}
.sign-up{
    width: 340px;
    height: 60px;
    background: #28A745;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
::-moz-placeholder { color: #A2A4A6; }
::-webkit-input-placeholder { color:#A2A4A6; }
:-ms-input-placeholder { color:#A2A4A6; }


