<div class="main">
    <storeHeader></storeHeader>
    <div class="content" style="padding-top:50px">
         <button nz-button nzType="primary" (click)="add()" style="background: darkgreen; border-color: darkgreen; margin-left: 50px;">
          <i nz-icon type="plus" theme="outline" style="vertical-align: text-top;"></i>
          添加</button> 
    <nz-table #nzTable
              nzSize="small"
              [nzData]="users"
              nzShowSizeChanger
              [nzFrontPagination]="false"
              [(nzPageSize)]="pageSize"
              [(nzPageIndex)]="pageIndex"
              [nzTotal]="total"
              (nzPageIndexChange)="indexChange()"
              (nzPageSizeChange)="sizeChange()"
              nzShowQuickJumper 
              style="margin: 32px auto;">       
      <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onChange(users,'all')"></th>
            <th><span>用户名</span></th>
            <th><span>全名</span></th>
            <th><span>性别</span></th>
            <th><span>联系方式</span></th>
            <th><span>操作</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of nzTable.data"> 
        <td nzShowCheckbox [(nzChecked)]="user.checked" [nzDisabled]="user.disabled"
            (nzCheckedChange)="onChange(user,'single')"></td>
        <td>
          <span>{{user.loginid}}</span>
        </td>
        <td>
          <span>{{user.fullname}}</span>
        </td>
        <td>
          <span>{{user.sex==0?"女":"男"}}</span>
        </td>
        <td>
          <span>{{user.phone}}</span>
        </td>
        <td>
            <span>{{user.email}}</span>
        </td>
        <td>
          <button nz-button  nzType="danger" (click)="delete(user.id)">Delete</button>
          <button nz-button nzType="default" (click)="update(user)" style="margin-left:10px;">Update</button>
        </td>
      </tr>
      </tbody>
    </nz-table>
    </div>
 </div>