
<div id="body">
    <div class="container wrap1" style="height:450px;">
            <h2 class="mg-b20 text-center" style="color:#BB3C39">Ｉ Lᵒᵛᵉᵧₒᵤ❤</h2>
            <div class="col-sm-8 col-md-5 center-auto pd-sm-50 pd-xs-20 main_content">
                <p class="text-center font16" style="color:forestgreen">用户登录</p>
                <!-- <form> -->
                    <div class="form-group mg-t20">
                        <i class="iconfont icon-yonghu"></i>
                        <input type="text" class="login_input" id="username" placeholder="请输入用户名" [(ngModel)]="name"  />
                    </div>
                    <div class="form-group mg-t20">
                        <i class="iconfont icon-icon-mima"></i>
                        <input type="password" class="login_input" id="password" placeholder="请输入密码" [(ngModel)]="word"/> 
                    </div>
                    <button ng-disabled="!shyj" class="login_btn"  id="btn" (click)="submit()">登 录</button>
                    <button (click)="start()" style="border:none; background:none;">出现意外了？点我试试</button>
        </div><!--row end-->
        
    </div><!--container end-->    
    <footer class="footer">
        
        <a href="tencent://message/?uin=1312783878&amp;Site=&amp;Menu=yes">联系我们 </a>
        <span (click)="donations()">&nbsp;|&nbsp; 向我们捐款</span>
    </footer>      
</div>
<div class="contact" *ngIf="show">
        <i class="iconfont icon-close" (click)="close()"></i>
        <img src="../../../assets/img/wx_contact.jpg">
        <img src="../../../assets/img/zfb_contact.jpg">
</div>
