
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        height: 100%;
  }
  #body {
    margin: 0;
    height:100%;
    background: url('../../../assets/img/bg.jpg') no-repeat;
    background-size:cover;
    color:#fff;
    font-family:"微软雅黑";
    font-size:14px;
  }
  .wrap1{
    position:absolute;
    top:0; 
    right:0; 
    bottom:0; 
    left:0; 
    margin:auto;
  }/*把整个屏幕真正撑开--而且能自己实现居中*/
  .main_content{
    margin-left:auto; 
    margin-right:auto; 
    text-align:left; 
    float:none; 
    border-radius:8px;
  }
	.form-group{
    position:relative;
  }
	.login_btn{
    display:block;
     background:#3872f6; 
     color:#fff; 
     font-size:15px; width:100%; 
     line-height:50px; 
     border-radius:3px; 
     border:none; 
    }
	.login_input{
    width:100%; 
    border:1px solid #3872f6; 
    border-radius:3px; 
    line-height:40px; 
    padding:2px 5px 2px 30px; 
    background:none;
  }

	.form-group .iconfont{
    position:absolute; 
    bottom:10px; 
    left:10px; 
    font-size:18px; 
    color:#3872f6;
  }
	.font16{font-size:16px;}
  .mg-t20{margin-top:20px;}
  .footer{
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
  }
  .footer span{
    cursor: pointer;
  }
  .contact{
    width: 300px;
    height: 460px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    opacity: 1;
  }
  .contact .iconfont{
    display: block;
    position: absolute;
    top: 0px;
    width: 20px;
    height: 20px;
    right: 20px;
    color: #000;
    font-size: 30px;
  }
  .contact img{
    width:200px;
    height: 200px;
    text-align: center;
    margin:10px 50px;
    display:block;
  }
  a {
    background-color: transparent;
    text-decoration: none;
    color: #fff; 
  }
  a:visited { 
    color:#0000FF; 
    text-decoration:none; 
    } 
  a:hover { 
    color:#0000FF; 
    text-decoration:none; 
  } 
	@media (min-width:200px){.pd-xs-20{padding:20px;}}
	@media (min-width:768px){.pd-sm-50{padding:50px;}}
	#grad {
	  background: -webkit-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Safari 5.1 - 6.0 */
	  background: -o-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Opera 11.1 - 12.0 */
	  background: -moz-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Firefox 3.6 - 15 */
	  background: linear-gradient(#4990c1, #52a3d2, #6186a3); /* 标准的语法 */
	}
  @media print {
    .navbar {
      display: none;
    }
    .btn > .caret,
    .dropup > .btn > .caret {
      border-top-color: #000 !important;
    }
    .label {
      border: 1px solid #000;
    }
    .table {
      border-collapse: collapse !important;
    }
    .table td,
    .table th {
      background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #ddd !important;
    }
  }
  @font-face {
    font-family: 'Glyphicons Halflings';
  
    src: url('../../../assets/fonts/iconfont.eot');
    src: url('../../../assets/fonts/iconfont.woff') format('woff'),
         url('../../../assets/fonts/iconfont.ttf') format('truetype'), 
         url('../../../assets/fonts/iconfont.svg') format('svg');
  }
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  