<div class="header-main">
    <div id="logo">
        <i class="iconfont icon-shouru1" (click)="jump()"></i>
    </div>
    <div>
        <i class="iconfont icon-leibieguanli" aria-hidden="true"></i>
        <nav class="main-nav">
            <ul class="nav-links" id="pcmenu">
                <li *ngFor="let item of list">
                    <a [routerLink]="item.url">
                        <span>{{item.name}}</span>
                    </a>
                </li>
               
            </ul>
        </nav>
    </div>
</div>