<div class="header-main">
    <div id="logo">
        <i class="iconfont icon-shouru1" (click)="jump()"></i>
    </div>
    <div>
        <i class="iconfont icon-icon_logout" aria-hidden="true"></i>
        <nav class="main-nav">
            <ul class="nav-links" id="pcmenu">
                <li *ngFor="let item of list">
                    <a  routerLink={{item.url}}>
                        <span>{{item.name}}</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div>
        <i class="iconfont icon-icon_logout logout" (click)="logout()"></i>
        <span class="user">{{user.fullname}}</span>
        <a id="task">
            <nz-badge [nzCount]=counts>
                <a class="iconfont icon-renwu-daibanrenwu" style="color:#8a8a8a; font-size:30px"></a>
            </nz-badge>
        </a>
        </div>
    </div>
</div>