.main {
	margin: 0;
    background:pink;
    height: 100%;
}
.header-main{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px 20px 30px;
    z-index: 100;
    height: 20px;
    background:rgb(207, 245, 207);
}
#logo i{
    display: block;
    float: left;
    min-width: 56px;
    height: 40px;
    overflow: hidden;
    pointer-events: auto;
    font-size: 33px;
    color:#FFF082;
    margin-top: -25px;
}
.icon-icon_logout{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    top: 0;
    right: 0;
    background: transparent;
    overflow: hidden;
    margin-top: 7px;
    margin-right: 30px;
    font-size: 21px;
    color: crimson;
}
.user{
    float: right;
    position: absolute;
    right: 66px;
    height: 30px;
    top:12px;
}
.main-nav {
    float: right;
    position: relative;
    line-height: 30px;
    margin: -10px 0 0;
    font-size: 15px;
    font-weight: normal;
    font-family: "GT Walsheim Medium", "GT Walsheim Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: auto;
}
.nav-links {
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
    right: 80px;

}
.nav-links li {
    position: relative;
    height: 30px;
    overflow: hidden;
    float: left;
    margin: 0 0 0 30px;
    transition: height 0.5s cubic-bezier(0.86, 0, 0.07, 1), transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav-links span {
    display: block;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav-links a{
    color:#fff;
}
.nav-links .logout{
    font-size: 20px;
    color: crimson;
    display: inline-block;
    position: relative;
    right: -10px;
}
@media (max-width: 480px){
.icon-icon_logout,{
    opacity: 1;
    }
.main-nav {
    display: none
    }

}
@media (min-width: 481px)and(max-width: 767px){
    
}
@media (min-width: 768px){


}
    