
<div class="main">
    <storeHeader></storeHeader>
    <div class="content">
        <div class="operation">
            <button (click)="add()">添加</button>
        </div>
        <nz-table
        #rowSelectionTable
        [nzData]="dataSet"
        [nzPageSize]="5">
        <thead>
            <tr>
            <th>名称</th>
            <th>分类</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td>{{data.name}}</td>
                <td>{{data.dicclass}}</td>
                <td>
                    <nz-popconfirm [nzTitle]="'Sure to delete?'" (nzOnConfirm)="deleteRow(data.id)">
                        <a nz-popconfirm>Delete</a>
                    </nz-popconfirm>       
                </td>
            </tr>
        </tbody>
        </nz-table>















        <div class="add" *ngIf="show" >
            <div class="msg">
                <label>名称：</label>
                <input type="text"  [(ngModel)]="name">
                <label>分类：</label>
                <input type="text" [(ngModel)]="dicclass">
                <button (click)="cancel()" class="btn" style="background:rgb(230, 152, 121)">取消</button> 
                <button (click)="submit()" class="btn" style="background:rgb(71, 214, 195)">提交</button>
            </div>
        </div>
    </div>
    <storeFooter></storeFooter>
 </div>