<storeHeader></storeHeader>
<div class="content">
    <!-- <nz-list [nzDataSource]="list" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
    <ng-template #item let-item>
        <nz-list-item>
        <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="nzdescription">
            <ng-template #nzTitle>
            <h5>{{item.taskname}}</h5>
            <a>{{item.taskdesc}}</a>
            <span class="sug">
                <i class="iconfont icon-jujue" style="color:#8A8A8A"></i>
                <i class="iconfont icon-smile" style="color: #FC5557;"></i>   
            </span>
            </ng-template>
           
        </nz-list-item-meta>
        </nz-list-item>
    </ng-template>
    </nz-list> -->
    <nz-list
    class="demo-loadmore-list"
    [nzDataSource]="list"
    [nzItemLayout]="'horizontal'"
    [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item [nzActions]="[editAction,moreAction]">
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
          <ng-template #editAction><i class="iconfont icon-jujue" style="color:#8A8A8A" (click)="isagree(item,181)"></i></ng-template>
          <ng-template #moreAction><i class="iconfont icon-smile" style="color: #FC5557;" (click)="isagree(item,180)"></i> </ng-template>
          <nz-list-item-meta
            [nzTitle]="nzTitle">
            <ng-template #nzTitle>
                <h5>{{item.taskname}}</h5>
                <a>{{item.taskdesc}}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>