
.main {
	margin: 0;
    background:rgb(209, 196, 245);
    height: 100%;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 60px 25px 0;
    z-index: 20;
}
.msg{
    width: 100%;
}
a:not([href]):not([tabindex]) {
    color: #fff;
}
a:hover{
    cursor: pointer;
}
#showmsg h4{
    padding:10px 0;
}
.title{
    margin-top:30px;
}
.showper{
    background: #eee;
    height:130px;
    padding:20px 20px;
    
}
.showper span:first-child:hover{
    cursor: pointer;
} 
.showper label {
    margin-right: 5px;
    text-align: right;
    width: 80px;
}
.showper span{
    margin-right: 100px;
    color:rgb(167, 123, 248);
    display: inline-block;
}
.clearfix{
    position: absolute;
    top: 160px;
    height: 100px;
    right: 50px;
}
.family{
    position: absolute;
    top:345px;
    height: 90px;
    right: 50px;
}
:host ::ng-deep i {
    font-size: 32px;
    color: #999;
  }
  :host ::ng-deep .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }
@media (max-width:320px){
    .showper span {
        width: 130px;
        margin-right: 10px;
        height: 20px;
    }
    .title{
        margin-top: 80px;
     }
     .showper{
        height: 200px;
        background: #eee;
        width: 290px;  
        margin-left: -10px;     
     }
     .clearfix{
         position: absolute;
         top: 50px;
         left: 117px;
         width: 80px;
     }
     .msg{
         height:550px;
     }
     .family{
        position: absolute;
        top:450px;
        height: 90px;
        right: 50px;
     }
}  
@media (min-width: 321px) and (max-width:480px){
    .title{
       margin-top: 80px;
    }
    .showper{
        padding:10;
        height: 200px;
        background: #eee;       
    }
    .showper span{
        margin-right: 20px;
        height: 20px;
        width: 160px;
    }
    .clearfix{
        position: absolute;
        top: 50px;
        left: 144px;
        width: 80px;
    }
    .family{
        position: absolute;
        top:450px;
        height: 90px;
        right: 50px;
    }
}
@media (min-width: 481px) and (max-width:800px){
    .showper span{
        margin-right: 100px;
        color:rgb(167, 123, 248);
        display: inline-block;
        height: 20px;
    } 
}