
<div class="main">
    <storeHeader></storeHeader>
    <div class="content">
        <div class="msg">
        <p id="prompt" *ngIf='a'>您还没有家庭，请先
            <a (click)="add()">添加家庭</a>
        </p>
        <div id="showmsg">
            <h4>|个人信息</h4>
            <div class="showper">
                <label>全名：</label>
                <span>{{fullname}}</span>
                <label>邮箱：</label>
                <span>{{email}}</span>
                <label>联系方式：</label>
                <span>{{phone}}</span>
                <div class="clearfix img">
                        <nz-upload
                          nzAction="https://jsonplaceholder.typicode.com/posts/"
                          nzListType="picture-card"
                          [(nzFileList)]="fileList"
                          [nzShowButton]="fileList.length < 1"
                          [nzPreview]="handlePreview">
                            <i nz-icon type="plus"></i>
                            <div class="ant-upload-text">Upload</div>
                        </nz-upload>
                        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                          <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                          </ng-template>
                        </nz-modal>
                      </div>
                

                <label>性别：</label>
                <span>{{sex}}</span>
            </div>
            <h4>|家庭信息</h4>
            <div class="showper">
                <label>姓名：</label>
                <span>{{name}}</span>
                <label>备注信息：</label>
                <span>{{note}}</span>
                <div class="clearfix img">
                        <nz-upload
                          nzAction="https://jsonplaceholder.typicode.com/posts/"
                          nzListType="picture-card"
                          [(nzFileList)]="fileList"
                          [nzShowButton]="fileList.length < 1"
                          [nzPreview]="handlePreview">
                            <i nz-icon type="plus"></i>
                            <div class="ant-upload-text">Upload</div>
                        </nz-upload>
                        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                          <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                          </ng-template>
                        </nz-modal>
                      </div>
            </div>
        </div>

        </div>
    </div>
    <storeFooter></storeFooter>
 </div>
~