
<div class="main">
    <storeHeader></storeHeader>
    <div class="content">
        <div class="msg">
        <p id="prompt" *ngIf='a'>您还没有家庭，请先
            <a (click)="add()">添加家庭</a>
        </p>
        <div id="showmsg">
            <h4 class="title" >|个人信息</h4>
            <div class="showper">
                <div class="col-xs-12">
                  <label>全名：</label>
                  <span>{{fullname}}</span>
                </div>
                <label>性别：</label>
                <span>{{sex}}</span>
                <label>联系方式：</label>
                <span>{{phone}}</span>
                <div>
                  <label>邮箱：</label>
                  <span>{{email}}</span>
                </div>  
                <div class="clearfix">
                  <nz-upload
                    nzAction={{uploadURL}}
                    nzListType="picture-card"
                    [nzCustomRequest]="handleUpload"
                    [(nzFileList)]="fileList"
                    [nzShowButton]="fileList.length < 1"
                    [nzPreview]="handlePreview">
                      <i nz-icon type="plus"></i>
                      <div class="ant-upload-text">Upload</div>
                  </nz-upload>
                  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                    <ng-template #modalContent>
                      <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                    </ng-template>
                  </nz-modal>
                </div>
            </div>
            <h4  *ngIf="b">|家庭信息</h4>
            <div class="showper" style="height:100px;">
                <span (click)="family()">{{name}}</span>
                <span>{{note}}</span>
            </div>
            <div class="family img" *ngIf="b">
              <nz-upload
                nzAction={{uploadURLFam}}
                nzListType="picture-card"
                [nzCustomRequest]="uploadFamily"
                [(nzFileList)]="fileListFam"
                [nzShowButton]="fileListFam.length < 1"
                [nzPreview]="handlePreviewFam">
                  <i nz-icon type="plus"></i>
                  <div class="ant-upload-text">Upload</div>
              </nz-upload>
              <nz-modal [nzVisible]="previewVisibleFam" [nzContent]="modalContentFam" [nzFooter]="null" (nzOnCancel)="previewVisibleFam=false">
                <ng-template #modalContentFam>
                  <img [src]="previewImageFam" [ngStyle]="{ 'width': '100%' }" />
                </ng-template>
              </nz-modal>
            </div>            
        </div>

        </div>
    </div>
    <storeFooter></storeFooter>
 </div>