
.main {
	margin: 0;
    background:url(../../../assets/img/index.jpg) no-repeat ;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}
.content{
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 20;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
}
@media (max-width:800px){
    .main {
        margin: 0;
         background:url(../../../assets/img/index-2.jpg) no-repeat ;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
    }
}
@media (max-width:320px){
    .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 20;
        margin-bottom: 70px;
        padding: 0;
        margin-top: 10px;
    }
    .city{
        margin:50px 20px 0;
    }
    .main{
        height: 110%;
    }
}