
.main {
	margin: 0;
    background:blanchedalmond;
    height: 100%;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    background:blanchedalmond;
}
@media (max-width:320px){
    .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 20;
        margin-bottom: 70px;
        padding: 0;
        margin-top: 10px;
    }
    .city{
        margin:50px 20px 0;
    }
    .main{
        height: 110%;
    }
}