
<div class="main">
    <storeHeader></storeHeader>
    <div class="content">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullname" nzRequired>
                <span>
                    姓名
                </span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="fullname" formControlName="fullname">
                 <nz-form-explain *ngIf="validateForm.get('fullname')?.dirty && validateForm.get('fullname')?.errors">请填写姓名</nz-form-explain> 
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Sex" nzRequired>性别</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['Sex']">
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <nz-select formControlName="Sex" style="width: 100%;">
                        <nz-option nzLabel="男" nzValue="1"></nz-option>
                        <nz-option nzLabel="女" nzValue="0"></nz-option>
                    </nz-select>
                </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
                <span>
                    昵称
                    <i nz-icon nz-tooltip nzTitle="What do you want other to call you" type="question-circle" theme="outline"></i>
                </span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="nickname" formControlName="nickname">
                <nz-form-explain *ngIf="validateForm.get('nickname')?.dirty && validateForm.get('nickname')?.errors">请填写用户名!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="email" id="email">
                <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
                    邮箱格式不正确！
                </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-input-group>
                    <input nz-input [type]="passwordVisible?'text':'password'" formControlName="password">
                </nz-input-group>
                <ng-template #suffixTemplate>
                    <!-- <i nz-icon [nzType]="passwordVisible? 'eye-invisible':'eye'" (click)="passwordVisible = !passwordVisible"></i> -->
                    <i class="iconfont icon-Eye" (click)="passwordVisible = !passwordVisible" *ngIf="passwordVisible==true" ></i>
                    <i class="iconfont icon-Untitled-" (click)="passwordVisible = !passwordVisible" *ngIf="passwordVisible==false" ></i>
                </ng-template>
                <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">密码长度不少于六位！
                </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
           
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>手机号码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']">
                    <input formControlName="phoneNumber" id="'phoneNumber'" nz-input>
                <nz-form-explain *ngIf="validateForm.get('phoneNumber')?.dirty && validateForm.get('phoneNumber')?.errors">请填写正确的手机号码</nz-form-explain>
                </nz-form-control>
             </nz-form-item>
            <nz-form-item nz-row style="margin-bottom:8px;">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" style="width:100%" >提交</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>
    